---
import MainLayout from '@layouts/MainLayout.astro'
import { Image } from 'astro:assets'

import post05 from '@images/post-05.png'
import { Picture } from 'astro:assets'
---

<MainLayout title="Imagenes">
  <h1 class="text-5xl text-white">Imagenes</h1>

  <img
    src="/assets/images/post-05.png"
    width="250"
    height="250"
    loading="eager"
  />

  <Image src={post05} width="250" height="250" alt="Imagen" />
  <Image
    src={post05}
    quality="low"
    style={{
      width: '250px',
      height: '250px',
    }}
    width="500"
    height="500"
    alt="Imagen"
  />

  <h1 class="text-white mt-10">Quality Low</h1>
  <Image quality="low" src={post05} width="250" height="250" alt="Imagen" />

  <h1 class="text-white mt-10">Quality High</h1>
  <Image quality="high" src={post05} width="250" height="250" alt="Imagen" />

  <h1 class="text-white mt-10">Formatos</h1>
  <Image format="avif" src={post05} width="250" height="250" alt="Imagen" />

  <h1 class="text-white mt-10">Picture</h1>
  <Picture
    widths={[240, 540, 720, post05.width]}
    formats={['webp', 'avif', 'jpeg']}
    src={post05}
    width="250"
    height="250"
    alt="Imagen"
  />

  <div
    style={{
      height: '3000px',
    }}
  >
  </div>

  <img
    src="/assets/images/post-05.png"
    width="250"
    height="250"
    loading="lazy"
  />
</MainLayout>
